<!-- File name: index.ejs
     Name: Vittoria Garcia Cardias
     Student ID: 300970112
     Date: June 02, 2023
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css" />
  <link rel='stylesheet' href='/Content/app.css' />
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-4">
                <h1><%= title %></h1>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Phone Number</th>
                        <th class="text-center">Email</th>
                    </tr>

                    <!-- Repeatable Template Row -->
                  <% for(let count = 0; count < NameList.length; count++) { %>
                      <tr>
                          <td class="text-center"><%= NameList[count].name %></td>
                          <td class="text-center"><%= NameList[count].number %></td>
                          <td class="text-center"><%= NameList[count].email %></td>
                      </tr>
                  <% } %>

                   

                </table>
            </div>
        </div>
    </main>

  <!-- Script -->

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <!-- <script> document.getElementById("aboutme").addEventListener("click", function() {
    window.location.href = "/about";
  });</script> -->
</body>
</html>