<!-- File name: list.ejs
     Name: Vittoria Garcia Cardias
     Student ID: 300970112
     Date: June 17, 2023
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css" />
  <link rel='stylesheet' href='/Content/app.css' />
</head>
<body>

         <!-- Navbar -->

         <%- include ("partials/navbar.ejs") -%>
         
    <main class="container">
        <div class="row">
            <div class="offset-md-1 col-md-5">
                <h1><%= title %></h1>
                
                
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Phone Number</th>
                        <th class="text-center col-8">Email</th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-2"></th>
                    </tr>

                    <!-- Repeatable Template Row -->
                  <% for(let count = 0; count < NameList.length; count++) { %>
                      <tr lass="d=flex">
                          <td class="text-center"><%= NameList[count].name %></td>
                          <td class="text-center"><%= NameList[count].number %></td>
                          <td class="text-center"><%= NameList[count].email %></td>
                          <td class="text-center col-1">
                            <a href="/name-list/edit/<%= NameList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i>Edit</a>
                          </td>
                          <td class="text-center col-1">
                            <a href="/name-list/delete/<%= NameList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>Delete</a>
                          </td>
                      </tr>
                  <% } %>
                </table>

                <!-- <a href="/name-list/add" class="btn btn-primary" role="button">
                  <i class="fas fa-plus-circle">Add a Name</i>
                </a> -->
                
                <% if (typeof displayName == 'string' && displayName) { %>
                  <a href="/name-list/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle">Add a Name</i>
                  </a>
                <% } %>
           
            </div>
        </div>
    </main>

  <!--Bottom Nav / Footer -->

  <%- include ("partials/footer.ejs") -%>

  <!-- Script -->

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <!-- <script> document.getElementById("aboutme").addEventListener("click", function() {
    window.location.href = "/about";
  });</script> -->
</body>
</html>